@charset "utf-8";
/* CSS Document */

html,body{
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url(../Images/appleby-background.jpg);	
	}
#ContentBackground{
	background-color: #E6E6FF;
	height: 745px;
	width: 900px;
	margin-top: 25px;
	margin-left: 20%;
	}
#footerBackground{
	height: 100px;
	width: 900px;
	margin-top: 25px;
	margin-left: 20%;
	background-color: #CCFF99
	}
#LogoContainer{
	margin-left:20%;
	margin-top:25
	}
#TableMargin{
	margin-left:30px
	}
h1{
	font-family: "Comic Sans MS", cursive;
	font-size: 24px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 25px;
	}
p{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	padding-left: 30px;
	padding-right:25px;	
	}
 	
